This file contains the work process we performed in order to create the data to be used with NetoworkX & Gephi

In [32]:
import pandas as pd

Creating the base DF:

In [33]:
clean_df = pd.read_csv(
    'C:/Users/yumi4/wikipedia-usage-network/03_clean_dbs/clean_relevant_db.csv',
    index_col=0
)
clean_df

,value,ukraine_relevance,russia_relevance,pointers,20180401-20180501,20180501-20180601,20190901-20191001,20191001-20191101,20220101-20220201,20220201-20220301
0,Ukrainia,437,135,"Architecture of Poland, Great Purge, Mykola Kh...",218.0,173.0,185.0,161.0,394.0,1331.0
1,Ukraine,436,135,"Architecture of Poland, Great Purge, Mykola Kh...",228629.0,259346.0,320373.0,305501.0,1342625.0,10093079.0
2,War in Donbass,368,306,"Soledar, Kyiv Post, Post-Soviet conflicts, Tri...",72012.0,79062.0,77510.0,78256.0,232111.0,1185121.0
3,RussiaâUkraine relations,349,332,"Lazar Kaganovich, Belarusians, Rivne Nuclear P...",7618.0,7754.0,12557.0,10797.0,131310.0,1836700.0
4,Ukrainian language,346,129,"Russian Empire Census, Great Purge, Turkic peo...",35159.0,40111.0,35751.0,38397.0,77086.0,431072.0
...,...,...,...,...,...,...,...,...,...,...
7599,High Commissioner,0,1,"Greek language, Zionism, League of Nations, We...",2409.0,2233.0,2329.0,2373.0,1879.0,1881.0
7600,Zurich,0,1,"UNESCO World Heritage Site, Italy, San Francis...",11666.0,13010.0,11101.0,12564.0,9973.0,9292.0
7601,Burundi,0,1,"International Criminal Court, Western world, A...",73384.0,74593.0,70523.0,67988.0,84058.0,118900.0
7602,MiÄdzyzdroje,0,1,"Berlin, Wolin, Swedish Empire, Poland, German ...",742.0,877.0,842.0,814.0,1068.0,881.0
7603,Wolin,0,1,"Bay of Pomerania, Kingdom of Prussia, Usedom, ...",1685.0,1633.0,1436.0,1504.0,2485.0,2477.0

Create the Nodes dataset from the clean DF:

In [34]:
network_df = pd.DataFrame()  # for later
# First, we will create the nodes table
ser_values = clean_df.iloc[:, 0]
ser_pointers_old = clean_df.iloc[:, 3]
# Cleaning ser_pointers because it contains strings with the nodes we want
temp_lst = []
for row in ser_pointers_old:
    if type(row) != float:
        temp_split = row.split(", ")
        for i in temp_split:
            temp_lst.append(i)
ser_pointers = pd.Series(temp_lst)
# Merging the two sets for one nodes set
ser_combined = ser_values.append(ser_pointers)
ser_combined = ser_combined.unique()
#set_nodes = set(ser_combined)
nodes_df = pd.DataFrame(ser_combined)
nodes_df

                               0
0                       Ukrainia
1                        Ukraine
2                 War in Donbass
3     RussiaâUkraine relations
4             Ukrainian language
...                          ...
7599           High Commissioner
7600                      Zurich
7601                     Burundi
7602               MiÄdzyzdroje
7603                       Wolin

[7604 rows x 1 columns]

Create the Edges dataset from the clean DF:

In [35]:
edges_dict = {"Source": [], "Target": []}
for i in range(len(ser_pointers_old)):
    if type(ser_pointers_old[i]) != float:
        temp_split = ser_pointers_old[i].split(", ")
        for j in temp_split:
            edges_dict["Source"].append(ser_values[i])
            edges_dict["Target"].append(j)
edges_df = pd.DataFrame(edges_dict)
edges_df

          Source                  Target
0       Ukrainia  Architecture of Poland
1       Ukrainia             Great Purge
2       Ukrainia         Mykola Khvylovy
3       Ukrainia               Romanians
4       Ukrainia             Belarusians
...          ...                     ...
197410     Wolin                Volhynia
197411     Wolin                  Poland
197412     Wolin          Mead in Poland
197413     Wolin                  Forest
197414     Wolin         German language

[197415 rows x 2 columns]

Export both datasets into CSVs to be used inside of Gephi:

In [36]:
edges_df.to_csv('edges.csv', index=False)
nodes_df.to_csv('nodes.csv', index=False)