This file contains the work process we performed in order to create the data to be used with NetoworkX & Gephi

In [1]:
import pandas as pd

Creating the base DF:

In [2]:
file_path = '../03_clean_dbs/clean_relevant_db.csv'
clean_df = pd.read_csv(file_path, index_col=0)

Create the Nodes dataset from the clean DF:

In [34]:
# First, we will create the nodes table
ser_values = clean_df.iloc[:, 0]
ser_pointers_old = clean_df.iloc[:, 3]
# Cleaning ser_pointers because it contains strings with the nodes we want
temp_lst = []
for row in ser_pointers_old:
    if type(row) != float:
        temp_split = row.split(", ")
        for i in temp_split:
            temp_lst.append(i)
ser_pointers = pd.Series(temp_lst)
# Merging the two sets for one nodes set
ser_combined = ser_values.append(ser_pointers)
ser_combined = ser_combined.unique()
#set_nodes = set(ser_combined)
nodes_df = pd.DataFrame(ser_combined)
nodes_df

                               0
0                       Ukrainia
1                        Ukraine
2                 War in Donbass
3     RussiaâUkraine relations
4             Ukrainian language
...                          ...
7599           High Commissioner
7600                      Zurich
7601                     Burundi
7602               MiÄdzyzdroje
7603                       Wolin

[7604 rows x 1 columns]

Create the Edges dataset from the clean DF:

In [35]:
edges_dict = {"Source": [], "Target": []}
for i in range(len(ser_pointers_old)):
    if type(ser_pointers_old[i]) != float:
        temp_split = ser_pointers_old[i].split(", ")
        for j in temp_split:
            edges_dict["Source"].append(ser_values[i])
            edges_dict["Target"].append(j)
edges_df = pd.DataFrame(edges_dict)
edges_df

          Source                  Target
0       Ukrainia  Architecture of Poland
1       Ukrainia             Great Purge
2       Ukrainia         Mykola Khvylovy
3       Ukrainia               Romanians
4       Ukrainia             Belarusians
...          ...                     ...
197410     Wolin                Volhynia
197411     Wolin                  Poland
197412     Wolin          Mead in Poland
197413     Wolin                  Forest
197414     Wolin         German language

[197415 rows x 2 columns]

Export both datasets into CSVs to be used inside of Gephi:

In [36]:
edges_df.to_csv('edges.csv', index=False)
nodes_df.to_csv('nodes.csv', index=False)